body{  
   color: white;
   background-color: black;
   font-family: Arial, Helvetica, sans-serif;
} 

ul{
    
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    justify-content: space-between ;
    gap: 25px;
    
}

a {
    color: white;
    text-decoration: none;
}

header img {
width: 150px;
height: 150px;
border-radius: 50%;
border: 3px solid green;
}

.center {
    text-align: center;
}

h1 {
    color: green;
}

footer img {
    width: 40px;
    height: 40px;
    padding:16px;
    border-radius: 40%;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
margin: 20 px;
text-align: center;
}

footer p {
margin-top: 2px;
}

div{
    .redes a{
        display: flex;
        justify-content: center;
        gap: 25px;
        margin: 0 15px;
    }
}

nav a:hover {
    color: green;
}